<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SCLOCUA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<appSettings>
		<!-- Налаштування твого застосунку -->
		<add key="SomeSettingKey" value="SomeSettingValue" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />

		<!-- URL для централізованої синхронізації часу (JSON: {"cycleStartMs": <unix_ms>} ) -->
		<add key="START_TIME_URL" value="https://scloc.pp.ua:58222/down/GoWvrUhvDotn.json" />

		<!-- Резервне значення часу початку циклу (unix milliseconds, UTC) -->
		<add key="TIME_START_CYCLE" value="1753997899074" />
	</appSettings>

	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>

	<userSettings>
		<SCLOCUA.Properties.Settings>
			<setting name="LastSelectedFolderPath" serializeAs="String">
				<value />
			</setting>
			<setting name="LatestCheckedReleaseTag" serializeAs="String">
				<value />
			</setting>
		</SCLOCUA.Properties.Settings>
	</userSettings>
</configuration>
